<%= form_with(model: [@patient, @log, dose]) do |form| %>
<% if dose.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(dose.errors.count, "error") %> prohibited this dose from being saved:</h2>

  <ul>
    <% dose.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :amount %> (mg)
  <%= form.number_field :amount %>
</div>

<div class="field">
  <%= form.label :medicine %>
  <%= form.collection_select :medicine_id, Medicine.all, :id, :generic_name, include_blank: false %>
</div>


<div class="actions">
  <%= form.submit %>
</div>
<% end %>