<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @patient.age %>
</p>

<p>
  <strong>Ward number:</strong>
  <%= @patient.ward_number %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @patient.notes %>
</p>

<strong>Logs</strong>
<% for log in @patient.logs %>
<ul>
  <li><%= link_to log.time_admr, patient_log_path(@patient) %></li>
</ul>
<% end %>
<%= link_to 'Add Log', new_patient_log_path(@patient) %> </br>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>