<%= form_with(model: [@patient, log], local: true) do |form| %>
<% if log.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(log.errors.count, "error") %> prohibited this log from being saved:</h2>

  <ul>
    <% log.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :time_admr %>
  <%= form.datetime_select :time_admr %>
</div>

<div class="field">
  <%= form.fields_for :doses do |doses_form| %>
  <%= doses_form.label :amount %>
  <%= doses_form.number_field :amount%> mg

  <%= doses_form.label :medicine_id %>
  <%= doses_form.number_field :medicine_id %>
  <% end %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>