<h1>Logs for <%= @patient.name %></h1>

<table>
  <thead>
    <tr>
      <th>Time admr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
    <tr>
      <td><%= log.time_admr %></td>
      <td><%= link_to 'Show', patient_log_path(@patient, log) %></td>
      <td><%= link_to 'Edit', edit_patient_log_path(@patient, log) %></td>
      <td><%= link_to 'Destroy', [@patient, log], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_patient_log_path(@patient) %>
<br><br>

<div id="calendar" class="tab-panel active">
  <h2>Log Calendar</h2>
  <div id="log-calendar">
    <%= render partial: "calendar", logs: @logs %>
  </div>

</div>