<h1>Logs</h1>

<table>
  <thead>
    <tr>
      <th>Time admr</th>

      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
    <tr>
      <td><%= log.time_admr %></td>
      <td><%= link_to log.patient.name, [@patient] %></td>
      <td><%= link_to 'Show', patient_log_path(@patient, log) %></td>
      <td><%= link_to 'Edit', edit_patient_log_path(@patient, log) %></td>
      <td><%= link_to 'Destroy', [@patient, log], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_patient_log_path(@patient) %>